<div class="header">
  <ul class="nav nav-pills pull-right">
    <button><a href='' 
        dropdown-menu="ddSelectOptions"
        dropdown-item-label="text">
        Area
    </a>
                  </button>
                  <button><a href='' 
        dropdown-menu="ddSelectOptions2"
        dropdown-item-label="text">
        ChatRoom
    </a>
                  </button>
    <button><a ng-href="/">Home</a></button>
    <button ng-show="cookie != 'valid'"><a ng-href="signins" ng-click='signin()'>Sign in</a></button>
    <button ng-show="cookie == 'valid'"><a ng-click='signout()'>Sign out</a></button>
    <button ng-show="cookie == 'valid'"><a href='' 
        dropdown-menu="ddSelectOptions1"
        dropdown-item-label="text">
        Account
    </a>
                  </button>
  </ul>
  <h3 class="text-muted">PlayWell</h3>
</div>
<div class="container" >
  <div class="row">
    <div class="col-sm-4 col-sm-offset-3">
      <h3>{{hh.name}}</h3> 
      Name:<div>{{user.name}}</div>
      Email:<div>{{user.email}}</div>
      <div ng-show="user.receivemails.length != 0">New messages:</div>
      <div ng-show="user.receivemails.length != 0" ng-repeat="x in user.receivemails"><br>title:{{x.title}}<button ng-click="delete(user._id,x._id)">Delete</button><br><br>content:{{x.content}}<br><br><br></div>
      </div></div></div>
      