<div ng-show="user.power == 'admin'">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <button><a href='' 
        dropdown-menu="ddSelectOptions"
        dropdown-item-label="text">
        Area
    </a>
                  </button>
                  <button><a href='' 
        dropdown-menu="ddSelectOptions2"
        dropdown-item-label="text">
        ChatRoom
    </a>
                  </button>
    <button><a ng-href="/">Home</a></button>
    <button ng-show="cookie != 'valid'"><a ng-href="signins" ng-click='signin()'>Sign in</a></button>
    <button ng-show="cookie == 'valid'"><a ng-click='signout()'>Sign out</a></button>
    <button ng-show="cookie == 'valid'"><a href='' 
        dropdown-menu="ddSelectOptions1"
        dropdown-item-label="text">
        Account
    </a>
                  </button>
  </ul>
  <h3 class="text-muted">PlayWell</h3>
</div>
  <div class="row">
    <!-- <div class="col-sm-4 col-sm-offset-3"> -->
    <div class="col-sm-4 col">
      <h3>Add new Infos</h3> 
      <form ng-submit="addInfo(newInfo)" role="form" ng-init="newInfo = {}">
      <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" class="form-control" ng-model="newInfo.title" 
                 placeholder="Enter....">
      </div>
      <div class="form-group">
          <label for="Content">Content</label>
          <input type="text" class="form-control" ng-model="newInfo.content" 
                   placeholder="Enter....">
      </div>
      <input type="radio" ng-model="newInfo.infotype" value={{infotypes[0]._id}}>{{infotypes[0].name}}<br/>
  <input type="radio" ng-model="newInfo.infotype" value={{infotypes[1]._id}}>{{infotypes[1].name}}<br/>
  <input type="radio" ng-model="newInfo.infotype" value={{infotypes[2]._id}}>{{infotypes[2].name}}<br/>
  <input type="radio" ng-model="newInfo.infotype" value={{infotypes[3]._id}}>{{infotypes[3].name}}<br/><br/>
      <input type="submit" class="btn btn-primary"  value="Post">
    </form>
  </div>
    <div class="col-sm-4">
      <h3>All Areas</h3>   
      <table class="table table-bordered">
        <tr><th>Name</th><th>Rate</th></tr> 
              <tr ng-repeat="infotype in infotypes | orderBy: '-rate'">
                <td>
                  {{infotype.name | uppercase}}
                </td>
                <td>
                  {{infotype.rate}}
                </td>
         </tr>
       </table>
  </div>
     </div>
   </div>
</div>
<div ng-show="user.power == 'user' || user == undefined">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <button><a href='' 
        dropdown-menu="ddSelectOptions"
        dropdown-item-label="text">
        Area
    </a>
                  </button>
                  <button><a href='' 
        dropdown-menu="ddSelectOptions2"
        dropdown-item-label="text">
        ChatRoom
    </a>
                  </button>
    <button><a ng-href="/">Home</a></button>
    <button ng-show="cookie != 'valid'"><a ng-href="signins" ng-click='signin()'>Sign in</a></button>
    <button ng-show="cookie == 'valid'"><a ng-click='signout()'>Sign out</a></button>
    <button ng-show="cookie == 'valid'"><a href='' 
        dropdown-menu="ddSelectOptions1"
        dropdown-item-label="text">
        Account
    </a>
                  </button>
  </ul>
  <h3 class="text-muted">PlayWell</h3>
</div>
<button ng-click="getuserneedView(0)">All Information</button>
<button ng-click="getuserneedView(1)">Just the love fields</button>
<div ng-repeat="a in needshow"><a href="/infotypes/{{a._id}}">{{a.name}}</a>
<span ng-repeat="b in a.infos"><a href="/infos/{{b._id}]/comments">{{b.title}}</a></span></div>
</div>